html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #faf9f5;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	height: 100%;
}

#root {
	min-height: 100%;
	position: relative;
}

.wrapper {
	position: relative;
	min-height: 100vh;
}

.topIcons {
	height: 50px;
	background: #353535;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #888;
	padding: 0 5%;
	box-sizing: border-box;
	font-family: 'Ropa Sans', sans-serif;
}

.topLeft {
	display: flex;
	justify-content: center;
	align-items: center;
}

.socialTop {
	padding-right: 20px;
	font-size: 26px;
}

.shipping {
	color: #faf9f5;
	font-size: 20px;
	text-transform: uppercase;
}

.slogan {
	color: #faf9f5;
	text-transform: uppercase;
	font-size: 20px;
}

.nav-bar {
	position: relative;
	z-index: 20;
	height: 80px;
	max-height: 80px;
	width: 100%;
	padding: 0 5%;
	background: #dbd263;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
	box-sizing: border-box;
	font-family: 'Ropa Sans', sans-serif;
}

.brand {
	height: 80px;
	width: 400px;
}

.brandImg {
	width: 100%;
	height: 100%;
	background-image: url("https://www.jarrodyellets.com/images/lumbarLogo2.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.linksWrapper {
	display: flex;
}

.links {
	text-decoration: none;
	color: #353535;
	font-size: 20px;
	text-transform: uppercase;
	margin: 0 3vw;
}

.links:hover, .cart:hover, .links:focus, .cart:focus {
	text-decoration: none;
	color: #353535;
}

.cart {
	position: relative;
	text-decoration: none;
	color: #353535;
	font-size: 20px;
	margin-left: 2vw;
}

.cartQuantity {
	position: absolute;
	top: -10px;
	right: -17px;
	height: 17px;
	width: 17px;
	background: #353535;
	color: #faf9f5;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
}

.closeBtn {
	display: none;
}

.hamburger {
	display: none;
	text-decoration: none;
	color: #353535;
	padding-left: 30px;
	font-size: 20px;
	-webkit-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
}

.sticky {
	position: fixed !important;
	top: 0 !important;
	width: 100%;
}

.sticky + .contentWrapper {
	padding-top: 80px;
}

.contentWrapper {
	padding-bottom: 80px;
}

.carouselDiv {
	position: relative;
}

.item {
	position: relative;
}

.slideWrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.slideImg {
	width: 100%;
	object-fit: cover;
}

.slide1 {
	object-position: left bottom;
}

.slide2 {
	object-position: center bottom;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
	height: calc(100vh - 130px);
}

.carousel-caption {
	width: 80%;
	left: auto;
	right: auto;
	bottom: auto;
	color: #faf9f5;
}

.carousel-caption h3 {
	font-size: 60px;
	font-weight: 700;
	text-transform: uppercase;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, .6);
	margin-bottom: 40px;
}

.slideButton {
	background: rgba(35, 35, 35, .6);
	font-size: 1em;
	padding: 10px 15px;
	border: 1px solid #faf9f5;
	text-transform: uppercase;
	border-radius: 5px;
}

.carousel-indicators {
	display: none;
}

.downArrow {
	position: absolute;
	z-index: 10;
	color: #faf9f5;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: 5%;
	font-size: 50px;
	animation: bounce 2s infinite;
	cursor: pointer;
}

.featuredDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	background: #faf9f5;
	color: #353535;
	padding: 50px 0;
	font-family: 'Poppins', sans-serif;
}

.featuredLeft {
	display: flex;
	width: 50%;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.featuredRight {
	position: relative;
	display: flex;
	width: 50%;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}

.featuredLogo {
	margin-bottom: 20px;
}

.featuredLeftTitle {
	font-size: 2.4em;
}

.featuredLeftDescription {
	font-size: 24px;
}

.featuredLeftPrice {
	font-size: 1.4em;
}

.featuredButton {
	background: #dbd263;
	border: 1px solid #353535;
	color: #353535;
	font-size: 1em;
	padding: 10px 15px;
	margin: 30px 0;
	border-radius: 5px;
	text-transform: uppercase;
}

.featuredRightDescription {
	font-size: 1em;
	width: 70%;
}

.featuredRightReviewTitle {
	font-size: 1.4em;
}

.featuredRightImg {
	width: 100%;
	object-fit: contain;
	object-position: center;
}

.financeBar {
	width: 100%;
	height: 60px;
	background: #dbd263;
	display: flex;
	justify-content: center;
	align-items: center;
}

.financeText {
	font-size: 1.6em;
	color: #353535;
}

.financeBold {
	font-weight: 700;
}

.financeButton {
	background: #dbd263;
	border: 1px solid #353535;
	font-size: 1em;
	margin-left: 20px;
	border-radius: 5px;
	padding: 5px 15px;
	text-transform: uppercase;
	font-weight: 700;
}

.newWrapper {
	position: relative;
	padding: 50px 0;
	font-family: 'Poppins', sans-serif;
}

.newNew {
	position: absolute;
	top: 0;
	left: 0;
}

.newContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.newTitleUpper {
	font-size: 2.4em;
}

.newTitleLower {
	font-size: 2em;
	margin-bottom: 30px;
}

.newDescription {
	width: 50%;
	font-size: 1.6em;
	margin-bottom: 30px;
}

.newDetailsDiv {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.newPriceDiv {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 30%;
}

.newPrice {
	font-size: 1.8em;
}

.newReview {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 30%;
	font-size: 1em;
}

.newBold {
	font-size: 1.8em;
}

.newIphone {
	position: absolute;
	bottom: 50px;
	left: 30%;
	height: 300px;
	object-fit: contain;
}

.mattressWrapper {
	padding: 40px;
}

.mattressTitle {
	width: 100%;
	height: 50px;
	color: #353535;
	background: #dbd263;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 2.2em;
	padding-left: 10px;
}

.mattressGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 100px;
	grid-column-gap: 50px;
	border-left: 1px solid #dbd263;
	border-right: 1px solid #dbd263;
	border-bottom: 1px solid #dbd263;
	padding: 40px;
}

.singleWrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.singleTitle {
	text-align: center;
	font-size: 1.5em;
}

.singleImage {
	width: 100%;
}

.singlePrice {
	margin: 10px 0;
	font-size: 1.4em;
}

.singleButton {
	background: #dbd263;
	border: 1px solid #353535;
	color: #353535;
	font-size: 1em;
	padding: 10px 15px;
	border-radius: 5px;
	text-transform: uppercase;
}

.detailWrapper {
	display: flex;
	justify-content: center;
	padding: 40px 0;
}

.detailLeft {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 40%;
}

.detailTitle {
	font-size: 2.4em;
}

.detailDetail {
	padding: 20px 0;
}

.detailSelectDiv {
	display: flex;
	margin: 30px 0;
}

.detailSelectText {
	font-size: 1.4em;
	margin-right: 20px;
}

.detailPrice {
	font-size: 2.4em;
}

.detailRight {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40%
}

.detailImage {
	width: 100%;
}

.aboutWrapper {
	width: 100%;
	margin: 0 auto;
	max-width: 1000px;
	padding: 40px 0;
}

.aboutImg {
	float: left;
	margin-right: 10px;
}

.aboutTitle {
	font-size: 1.6em;
}

.aboutStore {
	filter: sepia(100%);
	width: 100%;
}

.contactWrapper {
	width: 100%;
	margin: 0 auto;
	max-width: 1000px;
	padding: 40px 0;
	display: flex;
}

.contactTitle {
	font-size: 2.2em;
}

.contactLeft {
	margin-right: 100px;
}

.contactTitle {
	margin-top: 0;
}

.contactText {
	margin-bottom: 25px;
}

.contactForm {
	display: flex;
	flex-direction: column;
}

.contactFormUpper {
	display: flex;
	justify-content: space-between;
}

.contactLabel {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.contactLabel input {
	padding: 5px 0;
}

.contactInput {
	margin: 0 30px 20px 0;
}

.contactTextArea {
	margin-bottom: 20px;
	resize: none;
}

.contactButton {
	width: 100px;
}

.contactRight {
	display: flex;
	flex-direction: column;
}

.contactContact {
	margin-bottom: 30px;
}

.contactBold {
	font-weight: 700;
}

.cartWrapper {
	padding: 40px;
}

.cartHeader {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3px 10px;
	border-left: 1px solid #dbd263;
	border-right: 1px solid #dbd263;
	border-bottom: 1px solid #dbd263;
}

.headerItem {
	width: 25%;
	text-align: center;
}

.cartHeaderItem {
	text-align: left;
}

.cartHeaderTotal {
	text-align: right
}

.cartTitle {
	width: 100%;
	height: 50px;
	color: #353535;
	background: #dbd263;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 2.2em;
	padding-left: 10px;
}

.cartDisplay {
	width: 100%;
	border-left: 1px solid #dbd263;
	border-right: 1px solid #dbd263;
	border-bottom: 1px solid #dbd263;
	padding: 10px;
}

.cartItemWrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0;
}

.cartItemItem {
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cartItemImage {
	width: 50%;
	margin-right: 10px;
}

.cartItemDescription {
	margin-left: 10px;
}

.cartItemName {
	font-weight: 700;
}

.cartItemSize {
	font-size: .9em;
}

.size {
	font-weight: 700;
}

.cartItemUnitPrice {
	width: 25%;
	text-align: center;
}

.cartItemQuantity {
	width: 25%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}

.cartItemInput {
	width: 40px;
	margin-bottom: 10px;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cartItemPrice {
	width: 25%;
	text-align: right;
}

.quantityButton {
	border: 1px solid #353535;
	color: #353535;
	font-size: .8em;
	padding: 2px 5px;
	border-radius: 5px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.quantityX {
	font-size: 1.3em;
	margin-right: 5px;
}

.quantityRemove {
	display: flex;
	align-items: center;
	color: #aaa;
	font-size: .7em;
	cursor: pointer;
}

.cartSubTotal {
	width: 100%;
	border-left: 1px solid #dbd263;
	border-right: 1px solid #dbd263;
	border-bottom: 1px solid #dbd263;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px;
}

.subTotalText {
	text-align: right;
	margin-right: 10vw;
}

.subTotalPrice {
	text-align: right;
}

.subtotal {
	margin: 10px 0;
}

.taxes {
	margin: 10px 0;
}

.cartTotal {
	width: 100%;
	border-left: 1px solid #dbd263;
	border-right: 1px solid #dbd263;
	border-bottom: 1px solid #dbd263;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px;
	font-weight: 700;
}

.totalText {
	text-align: right;
	margin-right: 10vw;
}

.cartButtonWrapper {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px;
	margin-top: 10px;
}

.cartButton {
	border: 1px solid #353535;
	color: #353535;
	font-size: .9em;
	padding: 10px 15px;
	border-radius: 5px;
	text-transform: uppercase;
}

.checkout {
	background: #dbd263;
	margin-left: 30px;
}

.footerWrapper {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	background: #353535;
	color: #888;
	display: flex;
	align-items: center;
	padding: 0 50px;
	font-family: 'Ropa Sans', sans-serif;
}

.footerAddress {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	margin-right: auto;
}

.footerContact {
	margin-left: 30px;
}

.author {
	display: flex;
	justify-content: center;
	flex: 1;
	margin: 0 auto;
}

.footerRight {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	margin-left: auto;
}

.footerSocial {
	text-align: center;
	margin-right: 30px;
	align-self: flex-start;
}

.socialFoot {
	font-size: 1.8em;
	margin: 0 10px;
}

.card {
	font-size: 1.8em;
  margin: 0 10px;
}

@keyframes bounce {
	0%{
		transform: translate(-50%, 0);
	}
	50%{
		transform: translate(-50%, -30px);
	}
	100%{
		transform: translate(-50%, 0);
	}
}

@media screen and (max-width: 1150px){

	.footerWrapper{
		font-size: .8em;
	}
}

@media screen and (max-width: 1000px){
	.slogan, .shipping {
		font-size: 16px;
	}

	.linksDiv {
		height: 100%;
		width: 200px;
		position: fixed;
		z-index: 1;
		top: 0;
		right: -200px;
		display: flex;
		flex-direction: column;
		background: #faf9f5;
		overflow-x: hidden;
		padding-top: 60px;
		padding-left: 10px;
		box-sizing: border-box;
		-webkit-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
  	-moz-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
  	-o-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
  	transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
	}

	.width {
		right: 0;
	}

	.links {
		display: inline-block;
		padding: 10px 0;
	}

	.hamburger {
		display: block;
	}

	.closeBtn {
		position: absolute;
		display: block;
		top: 15px;
		right: 25px;
	}

	.contentWrapper {
		padding-bottom: 250px;
	}

	.financeBar {
		font-size: .7em;
	}

	.contactWrapper {
		flex-direction: column;
		padding: 20px 20px;
	}

	.contactLeft {
		margin-right:  0;
	}

	.contactRight {
		margin-top: 20px;
	}

	.contactFormUpper {
		flex-direction: column;
	}

	.contactInput {
		margin: 0 0 20px 0;
	}

	.input {
		margin-bottom: 20px;
	}

	.mattressGrid {
		grid-template-columns: repeat(1, 1fr);
	}

	.footerWrapper {
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-start;
		height: 250px;
		padding: 5px 5px 0 5px;
		font-size: 1em;
	}

	.footerAddress {
		display: block;
		flex: 0;
	}

	.addressDiv {
		margin-bottom: 10px;
	}

	.footerContact {
		margin-left: 0;
		margin-bottom: 10px;
	}

	.author {
		display: block;
		margin: 0 0 10px 0;
		flex: 0;
	}

	.footerRight {
		display: block;
		margin: 0;
	}

	.footerSocial {
		text-align: left;
		margin-bottom: 10px;
	}

	.socialFoot {
		margin: 0 10px 0 0;
	}

	.cardDiv {
		display: inline-block;
	}

	.card {
		margin: 0 10px 0 0;
	}
}

@media screen and (max-width: 812px){
	body {
		font-size: 12px;
	}
	.slogan {
		display: none;
	}

	.shipping {
		font-size: 12px;
	}

	.nav-bar {
		border-top: none;
	}

	.brand {
		height: 80px;
		width: 80px;
	}

	.brandImg {
		width: 100%;
		height: 100%;
		background-image: url("https://www.jarrodyellets.com/images/lumbarLogo.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	.contentWrapper {
		padding-bottom: 200px;
	}
	.carousel-caption {
		bottom: 30%;
		color: #faf9f5;
	}

	.carousel-caption h3 {
		font-size: 1.2em;
		font-weight: 700;
		text-transform: uppercase;
		text-shadow: 1px 1px 5px rgba(0, 0, 0, .6);
		margin-bottom: 40px;
	}

	.carousel-caption h3 {
		font-size: 30px;
	}

	.slideButton {
		font-size: 12px;
		padding: 5px 10px;
	}

	.downArrow {
		font-size: 1.8em;
	}

	.sticky {
		position: relative !important;;
	}

	.sticky + .contentWrapper {
		padding-top: 0;
	}

	.featuredDiv {
		flex-direction: column;
	}

	.featuredLeft {
		width: 100%;
	}

	.featuredRight {
		width: 100%;
		justify-content: center;
		align-items: center;
		padding: 0 10px;
	}
	.featuredLeftTitle {
		font-size: 20px;
	}

	.featuredLeftDescription {
		font-size: 16px;
	}

	.featuredLeftPrice {
		font-size: 16px;
	}
	.featuredRightDescription {
		font-size: 12px;
		width: 80%;
	}

	.featuredRightReviewTitle {
		font-size: 20px;
		text-align: center;
	}

	.featuredButton {
		font-size: 12px;
	}

	.featuredRightImg {
		width: 80%;
	}

	.financeBold {
		display: block;
	}

	.finaceDash {
		display: none;
	}

	.newNew {
		width: 150px;
	}

	.newTitle {
		font-size: 1.8em;
	}

	.newDescription {
		width: 80%;
		font-size: 1.2em;
	}

	.newDetailsDiv {
		flex-direction: column;
		align-items: center;
		margin-bottom: 15px;
	}

	.newBold {
		margin: 0 auto;
	}

	.newReview {
		width: 80%;
	}

	.newImg {
		width: 80%;
	}

	.newIphone {
		height: 35vw;
	}

	.aboutWrapper {
		padding-left: 15px;
		padding-right: 15px;
	}

	.detailWrapper {
		flex-direction: column;
	}

	.detailLeft, .detailRight {
		width: 100%;
		padding: 40px;
	}

	.cartHeader {
		display: none;
	}

	.cartItemImage {
		display: none;
	}

	.cartItemUnitPrice {
		display: none;
	}

	.cartButtonWrapper {
		justify-content: center;
		margin: 10px 0 ;
	}

	.cartButton {
		padding: 7px 7px;
		box-sizing: border-box;
	}

	.footerWrapper {
		height: 200px;
	}

}

@media screen and (max-width: 350px){
	body {
		font-size: 10px;
	}
}

@media screen and (max-height: 350px){
	.carousel-caption h3 {
		font-size: 20px;
	}
}
