body {
	background: #dfdfdf;
	margin: 0;
}

.wrapper {
	position: relative;
	height: 100vh;
}

.navbar {
	position: relative;
	height: 50px;
	max-height: 50px;
	padding: 0 10px;
	background: #557a95;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.links {
	padding: 0 10px;
}

.hamburger {
	display: none;
	padding: 0 10px;
}

@media screen and (max-width: 768px){
	.linksDiv {
		display: none;
	}

	.links {
		display: block;
		padding: 10px 0;
	}

	.hamburger {
		display: block;
	}

	.responsiveLinks {
		position: absolute;
		top: 50px;
		text-align: left;
	}
}